<div [formGroup]="datesFormGroup" class="booking-form__group booking-form__date-picker">
  <label>
    {{ question?.question }}
  </label>
  <mat-form-field style="max-width: 1px !important;">
    <input matInput
           readonly
           placeholder=""
           (dateInput)="saveDates($event)"
           [satDatepicker]="picker"
           [min]="question?.minDate"
           [matDatepickerFilter]="question?.validDatesFilter"
           formControlName="date">
  </mat-form-field>
  <sat-datepicker #picker [rangeMode]="true"
                  panelClass="range-datepicker"
                  orderPeriodLabel="month"
                  [selectFirstDateOnClose]="true">
  </sat-datepicker>
  <!--<sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>-->
  <button mat-raised-button (click)="picker.open()">Choose Dates</button>
  <!--<p *ngIf="picker.opened"></p>-->
</div>
