<div *ngIf="config?.isDisplayed" class="edit-row" [attr.name]="config.name.toUpperCase()"
     [attr.data-name]="config.name.toUpperCase()">
  <div class="dynamic-field edit-item edit-item-full-width" [formGroup]="group">
    <span class="edit-label">{{config.label}}</span>
    <span class="edit-value">
                  <input [type]="inputType"
                         inputmode="numeric"
                         [pattern]="config?.pattern"
                         class="form-control"
                         [class.readonly]="config?.readOnly"
                         [readonly]="config?.readOnly"
                         data-name="{{config.name.toUpperCase()}}"
                         [attr.placeholder]="config.placeholder"
                         [formControlName]="config.name"/>

      <!--            <input [type]="inputType"-->
<!--                   inputmode="numeric"-->
<!--                   [pattern]="config?.pattern"-->
<!--                   class="form-control"-->
<!--                   [class.readonly]="config?.readOnly"-->
<!--                   [readonly]="config?.readOnly"-->
<!--                   data-name="{{config.name.toUpperCase()}}"-->
<!--                   [attr.placeholder]="config.placeholder"-->
<!--                   [formControlName]="config.name"/>-->
        </span>
    <form-warning-message [message]="warningMessage" [name]="config?.name"></form-warning-message>
    <form-error-message [input]="input" [name]="config?.name"></form-error-message>
  </div>
</div>
