<form class="booking-form" action="" method="post">

  <div *ngFor="let oneQuestion of this.questions">

    <div *ngIf="oneQuestion.type == 'single-date'">
      <app-form-element-single-date [question]="oneQuestion" (answer)="updateUserFormData($event)"></app-form-element-single-date>
    </div>

    <div *ngIf="oneQuestion.type == 'date-range'">
      <app-form-element-date-picker [question]="oneQuestion" (answer)="updateUserFormData($event)"></app-form-element-date-picker>
      <p *ngIf="this.userFormData.rentalDates.begin">
        The gear will arrive to you on {{ dateTools.formatDateDisplay(this.userFormData.rentalDates.begin, 'ddd, Do MMM YYYY') }} between 9am and 5pm
      </p>
      <p *ngIf="this.userFormData.rentalDates.end">
        It can sent back on {{ dateTools.formatDateDisplay(this.userFormData.rentalDates.end, 'ddd, Do MMM YYYY') }} between 9am and 5pm
      </p>
    </div>

    <div *ngIf="oneQuestion.type == 'radio'">
      <app-form-element-radio [question]="oneQuestion" (answer)="updateUserFormData($event)"></app-form-element-radio>
    </div>

    <div *ngIf="oneQuestion.type == 'number'">
      <app-form-element-number [question]="oneQuestion" (answer)="updateUserFormData($event)"></app-form-element-number>
    </div>

    <div *ngIf="shouldUseRegularInputBox(oneQuestion.type)">
      <app-form-element-text [question]="oneQuestion" (answer)="updateUserFormData($event)"></app-form-element-text>
    </div>

  </div>

<!--
  <div [formGroup]="datesFormGroup">
    <mat-form-field>
      <input matInput
             placeholder=""
             (dateInput)="addEvent('input', $event)"
             [min]="minDate"
             [satDatepicker]="picker"
             [matDatepickerFilter]="validDatesFilter"
             formControlName="date">
      <sat-datepicker #picker [rangeMode]="true"
                      panelClass="range-datepicker"
                      orderPeriodLabel="month"
                      [selectFirstDateOnClose]="true">
      </sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
  </div>
-->
  <div [formGroup]="orderFormGroup">
    <button (click)="addOrderLine()">Add Order Line</button>
    <div formArrayName="orderLinesArray">
      <div *ngFor="let orderLine of orderLinesArray.controls; let i = index" [formGroupName]="i">
        <input formControlName="item" placeholder="Item">
        <input formControlName="qty" placeholder="Qty">
      </div>
    </div>
  </div>

  <input type="submit" value="Submit">

</form>

{{orderFormGroup.value | json}}
