<h1 mat-dialog-title>{{data.title}}</h1>

<mat-dialog-content [formGroup]="form">
  <app-input-email [parentForm]="form" [myControl]="form.controls['email']" [heading]="'Your Email'"></app-input-email>
  <app-input-email [parentForm]="form" [myControl]="form.controls['email2']" [heading]="'Your Email'"></app-input-email>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>

