<app-dynamic-form [config]="addressFormConfig"
                  [title]="'NTP.ADD'"
                  (submitted)="submitted($event)">
</app-dynamic-form>

<button mat-button (click)="openDialog()">Open dialog</button>

<ol>
  <li>
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
