<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
  <ngu-tile *nguCarouselDef="let item; let i = index">
    <div>
      <img [src]="products[item].image" style="max-width: 300px;">
      <h2>{{products[item].brand}} {{products[item].model}}</h2>
    </div>
    <div>
      Qty: {{products[item].qty}}
    </div>
    <input #qty type="number" name="qty" min="0" max="5" (change)="changeValue(item, qty.value)">
  </ngu-tile>
  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
<!--  <ul class="myPoint" NguCarouselPoint>-->
<!--    <li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"-->
<!--        [style.background]="'url(' + carouselTileItems[i] + ')'"></li>-->
<!--  </ul>-->
</ngu-carousel>
